<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<style>
svg {
    font: 10px sans-serif;
}

.y.axis path {
    display: none;
}

.y.axis line {
    stroke: #fff;
    stroke-opacity: .2;
    shape-rendering: crispEdges;
}

.y.axis .zero line {
    stroke: #000;
    stroke-opacity: 1;
}

.title {
    font: 300 78px Helvetica Neue;
    fill: #666;
}

.birthyear,
.age {
    text-anchor: middle;
}

.birthyear {
    fill: #fff;
}

rect {
    fill-opacity: .6;
    fill: blue;
}

rect:first-child {
    fill: #1f77b4;
}


.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}


/* Style northward tooltips differently */

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
</style>
<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand {{activedash}}" href="/dashboard">20 years of Video Game</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-4">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{{activeRelational}}"><a href="/relational">Relational</a></li>
                    <li class="{{activeMongoDB}}"><a href="/mongo">MongoDb</a></li>
                    <li class="{{activeNeo}}"><a href="/neo">Neo 4j</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- END OF NAV BAR -->
<div class="container">
    <h1>Hello Yinz!</h1>
    <p>A small overview about project</p>
    <div id="summary">
        <h3> Distribution of No of games in each Year </h3>
    </div>
    <div >
        <h3> Distribution Genres</h3>
        <p>A minimum of 500 games in each genre is selcted and grouped</p>
        <svg id="summary2" width="800" height="600"></svg>
    </div>
</div>
<script>
  function summary1(){

// set the dimensions of the canvas
var margin = { top: 20, right: 20, bottom: 170, left: 100 },
    width = 800 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

// set the ranges
var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

var y = d3.scale.linear().range([height, 0]);

// define the axis
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")


var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10);

var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
        return "<strong>Year:</strong> <span>" + d.name + "</span>" + "<br/>" + "<strong>Count:</strong> <span style='color:red'>" + d.Freq + "</span>";
    })

// add the SVG element
var svg = d3.select("body #summary").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");

svg.call(tip);

var url = 'http://localhost:3000/summary1';

d3.json(url, function(error, data) {

    data.forEach(function(d) {
        d.name = d.name;
        d.Freq = +d.Freq;
    });

    // scale the range of the data
    x.domain(data.map(function(d) { return d.name; }));
    y.domain([0, d3.max(data, function(d) { return d.Freq; })]);



    // add axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
        .selectAll("text")
        .style("text-anchor", "end")
        .attr("dx", "-.8em")
        .attr("dy", "-.55em")
        .style("font-size", "15px")
        .attr("transform", "rotate(-90)");

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
        .append("text")
        .attr("transform", "rotate(-360)")
        .attr("y", 5)
        .attr("dy", "-0.29em")
        .style("font-size", "13px")
        .style("text-anchor", "end")
        .text("No of Games");


    // Add bar chart
    svg.selectAll("bar")
        .data(data)
        .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.name); })
        .attr("width", x.rangeBand())
        .attr("y", function(d) { return y(d.Freq); })
        .attr("height", function(d) { return height - y(d.Freq); })
        .on('mouseover', tip.show)
        .on('mouseout', tip.hide);


});
}
summary1();
</script>
<script>
function summary2() {
 var svg = d3.select("#summary2"),
    width = +svg.attr("width"),
    height = +svg.attr("height"),
    radius = Math.min(width, height) / 2,
    g = svg.append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var color = d3.scale.category20c(); 


var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
        return "<strong>Genre:</strong> <span>" + d.data.name + "</span>" + "<br/>" + "<strong>Count:</strong> <span style='color:red'>" + d.data.Freq + "</span>";
    })


svg.call(tip);
var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.Freq; });

var path = d3.svg.arc()
    .outerRadius(radius - 1)
    .innerRadius(0);

var label = d3.svg.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);
var url= "http://localhost:3000/summary2";
debugger;
d3.json(url, function(error, data) {
  if (error) throw error;

  debugger;
  var arc = g.selectAll(".arc")
    .data(pie(data))
    .enter().append("g")
    .attr("class", "arc")
    .on('mouseover', tip.show)
    .on('mouseout', tip.hide);

  arc.append("path")
      .attr("d", path)
      .attr("fill", function(d) { return color(d.data.name); });

  arc.append("text")
      .attr("transform", function(d) { return "translate(" + label.centroid(d) + ")"; })
      .attr("dy", "0.35em")
      .style("font-size", "13px")
      .text(function(d) { return d.data.name; });
});

}
summary2();
</script>